<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>EnergyDex uses the camera to add a drink photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>EnergyDex uses your photo library to add a drink photo.</string>
</dict>
</plist>
